body {
  font-family: fot-tsukubrdgothic-std,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;

  .header {
    height: 100vh;
    width: 100vw;
    background-color: #c7aaf5;


    .header_objects_1 {
      position: absolute;
      height: 45vh;
      top: calc(-20vh - 370px);
      left: calc(82vw - 370px);
    }

    .header_objects_2 {
      position: absolute;
      height: 2vw;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    .header_objects_3 {
      position: absolute;
      height: 15vh;
      top: calc(16vh - 370px);
      left: calc(94vw - 370px);
    }

    .header_objects_4 {
      position: absolute;
      height: 11vh;
      top: calc(18vh - 370px);
      left: calc(78vw - 370px);
    }

    .header_objects_5 {
      position: absolute;
      height: 5vh;
      top: calc(5vh - 270px);
      left: 70vw;
    }

    .header_objects_6 {
      position: absolute;
      height: 15vh;
      top: calc(5vh - 270px);
      left: calc(28vw + 270px);
    }

    .header_objects_7 {
      position: absolute;
      height: 25vh;
      top: calc(-10vh + 1540px);
      left: calc(15vw - 1540px);
      transform: translateZ(90deg);
    }

    .header_objects_8 {
      position: absolute;
      height: 35vh;
      top: calc(-4vh - 330px);
      left: calc(3vw - 330px);
    }

    .header_objects_9 {
      position: absolute;
      height: 22vw;
      top: 25vh;
      left: calc(-50vh - 270px);
    }

    .header_objects_10 {
      position: absolute;
      height: 7vh;
      top: 58vh;
      left: calc(7vw - 270px);
    }

    .header_objects_11 {
      position: absolute;
      height: 5.5vh;
      top: 78vh;
      left: calc(4vw - 270px);
    }

    .header_objects_12 {
      position: absolute;
      height: 4.7vh;
      top: calc(84vh + 540px);
      left: 13vw;
    }

    .header_objects_13 {
      position: absolute;
      height: 4.2vh;
      top: calc(78vh + 540px);
      left: 27vw;
    }

    .header_objects_14 {
      position: absolute;
      height: 20.2vh;
      top: 79.8vh;
      left: calc(52vw + 1600px);
    }

    .header_objects_15 {
      position: absolute;
      height: 5.2vh;
      top: 84.8vh;
      left: calc(74vw + 540px);
    }

    .header_objects_16 {
      position: absolute;
      height: 15vh;
      top: calc(84.8vh + 270px);
      left: 79vw;
    }

    .header_objects_17 {
      position: absolute;
      height: 35vh;
      top: calc(70.8vh + 270px);
      left: calc(89vw + 270px);
    }

    .header_texts {
      padding-top: 36vh;


      h1 {
        font-family: fot-tsukubrdgothic-std,
          sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2vw;
        position: absolute;
        top: 44vh;
        left: 50%;
        transform: translateX(-50%);

      }

      h2 {
        font-size: 1vw;
        font-family: fot-tsukubrdgothic-std,
          sans-serif;
        font-weight: 700;
        font-style: normal;
        line-height: 4vh;
        position: absolute;
        top: 56vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

    }

  }

  .content1 {
    padding-top: 14vh;
    padding-bottom: 7vh;

    h1 {
      font-size: 2.5vw;
      font-weight: 700;
      text-align: center;


      span {
        color: #588fd6;
        border-bottom: #588fd6 solid 2.5px;
        padding-bottom: 0px;
        margin-right: 5px;
      }
    }

    h3 {
      width: 40vw;
      font-size: 1.2vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 13vh;
      line-height: 2.3vw;
      font-weight: 700;

    }

    .images {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 1vh;

      img {
        width: 12vw;
      }

      .human1 {
        margin-right: 18vw;
      }

      .human2 {
        margin-left: 18vw;
      }

      .about {
        margin-bottom: 7vh;
        width: 12vw;
        transition: 0.3s;

        &:hover {
          fill: #6764e2;

          .cls-1 {
            fill: #fff;
          }
        }
      }
    }
  }

  .content2 {
    background-color: #fbf58c;
    padding-top: 14vh;
    padding-bottom: 7vh;

    text-align: center;


    h1 {
      font-size: 2.5vw;
      font-weight: 700;
      text-align: center;

      span {
        color: #fa5a8a;
        border-bottom: #fa5a8a solid 2.5px;
        padding-bottom: 0px;
        margin-right: 5px;
      }
    }

    .works {
      width: 58vw;
      margin-top: 15vh;
    }

    .images {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 3vh;

      img {
        width: 13vw;
      }

      .human1 {
        margin-right: 16vw;
      }

      .human2 {
        margin-left: 16vw;
      }

      .works_botton {
        margin-bottom: 7vh;
        width: 12vw;
        transition: 0.3s;

        &:hover {
          fill: #6764e2;

          .cls-1 {
            fill: #fff;
          }
        }
      }
    }
  }

  .content3 {
    padding-top: 14vh;
    padding-bottom: 7vh;

    h1 {
      font-size: 2.5vw;
      font-weight: 700;
      text-align: center;


      span {
        color: #6be8da;
        border-bottom: #6be8da solid 2.5px;
        padding-bottom: 0px;
        margin-right: 5px;
      }
    }

    h3 {
      width: 40vw;
      font-size: 1.2vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 13vh;
      line-height: 2.3vw;
      font-weight: 700;

    }

    .images {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 1vh;

      img {
        width: 12vw;
      }

      .human1 {
        margin-right: 18vw;
      }

      .human2 {
        margin-left: 18vw;
      }

      .about {
        margin-bottom: 7vh;
        width: 12vw;
        transition: 0.3s;

        &:hover {
          fill: #6764e2;

          .cls-1 {
            fill: #fff;
          }
        }
      }
    }
  }
}